body{
  background-color: #fcfcfc;
}
.App {
  text-align: center;
}
.con{
  text-align: center;
}
/* Nav bar */
.nav{
  background-color: #cce3d1;
}
.nav a.active{
  color: rgb(2, 126, 49) !important;
  text-decoration: underline;
}
.nav-con{
  flex: 1;
  display: flex;
}
.loged-con{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgb(4, 66, 12);
  font-weight: bold;
}
.loged-con button{
  border: none;
  background-color: #cce3d1;
} 
.loged-con p{
  margin: 0;
  padding-right: 10px;
  font-size: 14px;
}
@media(max-width: 766px){
  .loged-con{
    justify-content: center;
    margin: 10px 0;
  }
}
.loged-con button:hover{
  color: #38b655;
}
.nav .user-img{
  width: 30px;
  height: 30px;
}
.spinner{
  margin-top: 100px;
}
/* Buttons */  
.btn-submit,
.btn-submit:disabled{
  background-color: #cce3d1;
  color: #000;
  border: 1px solid #99e5ac;
  border-radius: 5px;
}
.btn-submit:hover{
  background-color: #9bddaa;
  border: 1px solid #99e5ac;
}

/* Login */
.login{
  margin: 80px auto;
  border: 2px solid #cce3d1;
  padding: 25px;
  max-width: 300px;
  border-radius: 15px;
}
.login h4 {
  margin-bottom: 15px;
}
.login button{
  width: 70px;
}

.log-form{
  max-width: 300px;
  margin: auto;
}

/* Home */

.q-tap{
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}

.home-title{
  margin-top: 30px;
}
.tab-list{
  list-style: none;
}

/* Question*/

.question-con{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.question-con .q-card{
  width: 400px;
}

.question-con  img{
  height: 50px;
  width: 50px;
  float: left;
}

.asks{
  color: #38b655;
  margin-top: 15px;
}
.progress{
  background-color: rgb(220, 233, 222)!important;
  color: rgb(80, 43, 43) !important;
  
}
.progress-custom {
  background-color: purple;
  color: white;
}

/* New Question */

.new-q-con{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.new-q-con .card{
  width: 500px;
}

@media(max-width: 766px){
  .new-q-con .card{
    width: 400px;
  }
}
.new-q-con .btn-submit{
 width: 85px;
}

/* Leader Board */

.leader-board-con li{
  list-style-type: none;
}

.leader-board-con .card{
  margin: auto;
  margin-top: 20px;
  max-width: 500px;

}

.leader-board-con img{
  width: 70px;
}

.leader-board-con .title{
  background-color: #cce3d1;
  color: #011305;
}

.leader-board-con .score-no{
  font-weight: bold;
}

.leader-board-con .link{
  margin-bottom: 50px;
}